body {
  font-family: 'Roboto', sans-serif;

  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  margin: 0;
}

/*?============================================   MODS   ===  */

.container {
  width: 1440px;
  padding-left: 156px;
  padding-right: 156px;
  margin: 0 auto;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  text-align: center;
  text-transform: capitalize;

  color: #2e2f42;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #2e2f42;
}

.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**==========================================   Header   === */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-nav {
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  text-transform: uppercase;

  color: #4d5ae5;
}

.nav-logo .logo-studio {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #434455;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/**====================================   Section Hero   ===*/

.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero-title {
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;

  max-width: 496px;

  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: #fff;
}

.hero-button {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;

  color: #fff;
  background-color: #4d5ae5;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/** ===============================   Section Operating principles   ===*/
/* 
.operating-text {

} */

/**================================    Section Team   ===*/

.team {
  background: #f4f4fd;
}

.team-item {
  background-color: #fff;
}

.team-subtitle {
  text-align: center;
}

.team-text {
  text-align: center;
}

/**====================================   Section Portfolio   ===*/

.portfolio-item {
  background-color: #fff;
}

/**====================================   footer   ===*/

.footer {
  background-color: #2e2f42;
}

.logo-footer .logo-studio {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
